#jQuery_nav #projects
{
	display: none;
}
#jQuery_nav .chaining{
	width: 100%;
}
#top_ad i{
	display: block;
	width: 90%;
	padding: 0 5%;
	float: none;
}
#top_ad i a{
	display: block;
	text-align: center;
}
#download_jQuery h2{
	background-color: #0769ad;
	border: none;
}
.seach_loading{
	border: 1px solid #0769ad;
}
.jQuery_contents{
	background-color: #0769ad;
}
#download_jQuery h2 ul li a{
	font-size: 10px;
	padding: 3px 5px;
}
#mune_top, #form_search
{
	width: 96%;
	padding: 0% 2% 0% 2%;
	
	/*float: none;*/
	margin-bottom: 15px;
}
#download_jQuery #download_nav{
	border-radius: 10px 10px 0 0;
}
/*#seach_loading #form_search #search{
	position: relative;
}
#seach_loading #form_search #ico_zoom{
	position: absolute;
	right: 30px;
	top: 25px;
}*/
#recommend_books ul li{
	float: none;
	width: 30%;
	margin: 0 auto;
	margin-bottom: 10px;
}
#img_top_adapt{
	display: block;
	width: 100%;
	height: 50%;
	background-size: contain;
	text-align: center;
	padding: 0 5%;
}
#download_jQuery{
	background-color: rgba(0,0,0,0)
}
.bcakcolor_radius{
	background-color: #FFFFFF;
	border-radius: 2% 2% 0 0;
	/*background-color: #FFFFFF*/
	padding-bottom: 15px;
	margin-bottom: 0;
}

