body{
	margin:0;
	font-family: Segoe UI,Arial, Helvetica, sans-serif;
}
img{
	border-style:none;
	vertical-align:middle;
	border-style:none;
}
a{
	text-decoration:none;
	color:#3d3d3d;
}
ul,h1,h2,h3,h4,h5,p,ol{
	padding:0;
	margin:0;
	list-style:none;
	font-weight:normal;
}
input,textarea,select{
	font-family:Segoe UI;
	vertical-align:middle;
}
form{
	margin:0;
	padding:0;
	border-style:none;
}
table{
	border-collapse:collapse;
}

th,td{
	padding:0;
}

button::-moz-focus-inner{
	border:0;
	padding:0;
}
input[type="submit"]::-moz-focus-inner{
	border:0;
	padding:0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
.clearfix{
	*zoom: 1;
}