.content_bottom_channel{
	margin: 10px auto;
	width: 1190px;
}
.bottom_part1{
	height: 365px;
}
.channel_item{
	border: 1px solid #E8E8E8;
	padding: 14px;
	height: 335px;
	width: 169px;
	margin-right: -1px;
}
.channel_hd{
	margin-bottom: 7px;
	height: 20px;
}
.channel_hd a{
	color: #3C3C3C;
	font-size: 16px;
}
.channel_hd h3{
	display: inline-block;
}
.ico_channel{
	width: 14px;
	height: 13px;
	background-position: 0 -260px;
	display: inline-block;
	margin-left: 5px;
}
.channel_bd a{
	font-size: 12px;
	color: #3C3C3C;
	display: inline-block;
}
.pic_desc{
	height: 32px;
	padding: 7px 10px 9px;
	text-align: center;
	display: block;
	background-color: #f5f5f5;
}
.channel_bd strong{
	height: 16px;
	line-height: 16px;
	display: block;
}
.pic_desc span{
	height: 16px;
	line-height: 16px;
	display: block;
}
.channel_extre{
	margin-top: 13px;
}
.extre_pics a{
	display: block;
}
.extre_pics_items{
	font-size: 12px;
	color: #3C3C3C;
	margin-right: 9px;
	width: 80px;
}
.extre_pics_items span{
	display: block;
	text-align: center;
	margin-top: 5px;
	height: 16px;
	line-height: 16px;
}
.item_right2{
	margin-right: 0;
}
.tag_items a{
	color: #3C3C3C;
	font-size: 12px;
	border-right: 1px solid #E8E8E8;
	padding-right: 5px;
}
.tag_items .tag_item_last{
	padding-right: 0;
	border-right: none;
}
.channel_extre  p{
	display: inline-block;
	height: 18px;
	line-height: 18px;
	margin-top: 8px;
}
.channel_item1{
	margin-left: -2px;
}
.bottom_part3_channel{
	margin: 10px 0;
}
.channel_item3{
	height: 225px;
	padding: 14px;
	border: 1px solid #E8E8E8;
	width: 169px;
}
.channel_hd3{
	margin-bottom: 7px;
	height: 20px;
}
.channel_hd3 a{
	color: #3C3C3C;
	font-size: 16px;
}
.channel_hd3 h3{
	display: inline-block;
}
.channel_bd3 a{
	color: #3C3C3C;
	display: inline-block;
	text-align: center;
	margin-top: 5px;
}
.channel_bd3 span{
	display: inline-block;
	line-height: 16px;
}
.channel_extre3{
	margin-top: 10px;
}
.channel_extre3 a{
	display: inline-block;
}
.bottom_part2_channel{
	height: 232px;
	overflow: hidden;
}
.channel_hd2{
	padding-bottom: 10px;
	margin-top: 15px;
}
.channel_hd2 a{
	display: block;
	color: #000000;
}
/*.channel_hd2 h3{
	display: inline-block;
}*/
.ico_part2_hd2{
	width: 62px;
	height: 20px;
	background-position: -82px 0;
	text-indent: -999px;
	/*vertical-align: middle;*/
}
.ico_more1{
	border: 1px solid #1A1A1A;
	padding: 2px;
	padding-top: 0px;
	margin-top: -20px;
	margin-right: 10px;
}
.bottom_part2_channel ul{
	display: inline-block;
}
.channel_hd2 a{
	font-size: 12px;
}
.part2_li{
	position: relative;
	margin-right: 12px;
	height: 180px;
}
.part2_li p{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #3399FE;
	opacity: 0.7;
	text-align: center;
	height: 25px;
	line-height: 25px;
}
.part2_li a{
	color: #1A1A1A;
}
.guang_right{
	display: inline-block;
}
.guang_pic1{
	position: relative;
}
.guang_pic1 a{
	color: #1A1A1A;
	/*display: inline-block;*/
}
.guang_pic1 p{
	width: 180px;
	position: absolute;
	bottom: 0;
	left: 15px;
	background-color: #3399FE;
	opacity: 0.7;
	text-align: center;
	height: 25px;
	line-height: 25px;
}
.guang_pic1 img{
	vertical-align: bottom;
	margin-top: -2px;
}
.left_turn{
	width: 9px;
	height: 12px;
	background-position: -14px 0;
	display: inline-block;
	margin-bottom: 80px;
}
.right_turn{
	width: 9px;
	height: 12px;
	background-position: -27px 0;
	display: inline-block;
	margin-bottom: 80px;
}
.right_pic2_2{
	margin-bottom: 8px;
	height: 70px;
}
.right_pic2_2 a{
	display: inline-block;
	margin-left: 2px;
	
}
.right_pic2 ul{
	display: block;
	margin-top: 5px;
}
.right_pic2 a{
	/*display: inline-block;*/
	height: 24px;
	line-height: 24px;
	color: #3C3C3C;
	font-size: 12px;
	text-align: center;
}
/*.sale_hots{
	background-color: lime;
}*/
.new_sales{
	padding: 20px 0 0 0;
}
.sales_hd{
	padding-bottom: 5px;
	overflow: hidden;
}
.right_sales_text a{
	height: 14px;
	line-height: 14px;
	font-size: 12px;
	color: #6C6C6C;
	padding: 0 10px;
}
.border_right{
	border-left: 1px solid #E8E8E8;
}
.sales_pic1{
	border: 1px solid #e8e8e8;
	border-right: none;
}
.sales_line1{
	margin: 8px 0 3px 0;
	height: 14px;
	line-height: 14px;
	overflow: hidden;
}
.hot_pic_items .sales_line1 a{
	font-size: 18px;
}
.hot_pic_items{
	width: 214px;
	height: 387px;
	padding: 10px;
}
.sales_line2{
	height: 16px;
	line-height: 16px;
	overflow: hidden;
}
.all_mall{
	width: 26px;
	height: 14px;
	background-position: -13px -26px;
	display: inline-block;
	margin-top: 3px;
	vertical-align: bottom;
}
.sales_line3{
	overflow: hidden;
	margin: 10px 0 0 0;
	line-height: 22px;
	width: 210px;
}
.sales_line4{
	margin-top: 40px;
}
.sales2_top{
	width: 139px;
	height: 183px;
	border: 1px solid #E8E8E8;
	border-right: none;
	padding: 10px;
}
.sales2_top1{
	margin-top: -1px;
}
.sales2_top2{
	border-right: 1px solid #E8E8E8;
}
.bottom_part2{
	/*display: inline-block;*/
	/*vertical-align: auto;*/
	margin-right: -2px;
}
.bottom_part2 a{
	padding: 10px;
	border: 1px solid #E8E8E8;
	border-top: none;
	display: inline-block;
}
.bottom_part2_1{
	margin-left: -1px;
}
.bottom_part2_1 img{
	width: 374px;
}
.helpers{
	margin-top: 15px;
	padding-top: 15px;
	height: 140px;
}
.helper_part1{
	margin-right: -1px;
	width: 247px;
}
.helper_part1{
	border-right: 1px solid #EEEEEE;
	padding: 0 25px;
}
.helper_part1 h4{
	margin-bottom: 5px;
}
.helper_part1 .safeguard{
	margin-left: 12px;
	font-size: 16px;
	margin-top: 12px;
}
.ico_helper_1{
	width: 34px;
	height: 28px;
	background-position: -82px -28px;
	display: inline-block;
	margin: 6px 0;
}
.refund li{
	margin-right: 12px;
	display: inline-block;
}
.refund a{
	color: #9C9C9C;
	font-size: 12px;
}
.helper_part1_right{
	border: none;
}
.footer_both{
	border-top: 2px solid #FF4400;
	padding: 8px 0 8px 0;
	/*height: 124px;*/
	margin-bottom: 20px;
}
.footer_top1{
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 8px;
	line-height: 26px;
	overflow: hidden;
}
.text_ali a{
	margin: 0 4px;
}
.text_ali b{
	margin: 0 -5px;
}
.partner{
	padding-bottom: 8px;
	overflow: hidden;
}
.partner a{
	margin: 0 4px;
}
.partner span{
	margin-left: 30px;
	color: #6C6C6C;
}
.license span{
	color: #9C9C9C;
	line-height: 20px;
	height: 20px;
}
.police{
	width: 35px;
	height: 35px;
	background-position: -79px -62px;
	display: inline-block;
}
.police1{
	width: 35px;
	height: 35px;
	background-position: -79px -111px;
	display: inline-block;
}
.police2{
	width: 35px;
	height: 35px;
	background-position: -79px -150px;
	display: inline-block;
}
.police3{
	width: 50px;
	height: 30px;
	background-position: -79px -196px;
	display: inline-block;
}
.police4{
	width: 83px;
	height: 31px;
	background-position: -79px -234px;
	display: inline-block;
}
.police5{
	width: 94px;
	height: 30px;
	background-position: -79px -287px;
	display: inline-block;
}
.police6{
	width: 92px;
	height: 30px;
	background-position: -79px -336px;
	display: inline-block;
}
.police7{
	width: 85px;
	height: 30px;
	background-position: -79px -383px;
	display: inline-block;
}
.part3_bannars_left span{
	display: block;
}
.part3_bannars_left strong{
	display: block;
}
.part5_bannars_left span, .part5_bannars_lef strong{
	display: block;
}
#div1{
	width: 520px;
	height:280px;
	overflow: hidden;
	position: relative;
}
#div1 #ul1{
	top:0;
	left:0;
	position: relative;
}
#div1 a:nth-of-type(1){
	left: 15px;
	top: 42%;
	background-color: #EEEEEE;
	opacity: 0.5;
}
#div1 a:nth-of-type(2){
	right: 15px;
	top: 42%;
	background-color: #EEEEEE;
	opacity: 0.5;
}
#div1 a{
	position: absolute;
	z-index: 100;
	font-size: 40px;
	color: #000000;
	text-decoration: none;
}

.div1{
	width: 520px;
	height:200px;
	overflow: hidden;
	position: relative;
}
.div1 .ul1{
	top:0;
	left:0;
	position: relative;
}
.div1 a:nth-of-type(1){
	left: 15px;
	top: 42%;
	background-color: #EEEEEE;
	opacity: 0.5;
}
.div1 a:nth-of-type(2){
	right: 15px;
	top: 42%;
	background-color: #EEEEEE;
	opacity: 0.5;
}
.div1 a{
	position: absolute;
	z-index: 100;
	font-size: 30px;
	color: #000000;
	text-decoration: none;
}
.header_left a:hover{
	color: #ff4400;
}
.header_right a:hover{
	color: #ff4400;
}
.pic_desc span:hover{
	color: #ff4400;
}
.channel_extre span:hover{
	color: #ff4400;
}
.part2_li p:hover{
	color: #ff4400;
}
.guang_right p:hover{
	color: #ff4400;
}
.channel_extre3 span:hover{
	color: #ff4400;
}

.login_button1:hover{
	background-position:0 -100% ;
}
