#taobao .orange{
	color: #ff4400;
}
.taobao_top{
	height: 118px;
}
.header{
	height: 35px;
	border-bottom: 1px solid #eeeeee;
	background-color: #f5f5f5;
	margin-bottom: 6px;
}
.header_fixed{
	position: fixed;
	left: 0;
	right: 0;
	background-color: #FFFFFF;
	z-index: 1000;
}
.header_nav{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;	
}
.header_nav span{
	line-height: 35px;
	font-size: 12px;
}
.header_nav a{
	color: #6c6c6c;
}
.orange{
	color: #ff4400;
	font-size: 12px;
}
.black{
	color: #3c3c3c;
	font-size: 12px;
}
.black a{
	color: #3c3c3c;
	font-size: 12px;
}
.orange a{
	color: #ff4400;
	font-size: 12px;
}
#taobao_top_x .header_left .orange{
	color: #ff4400;
}
/*.mediate .tb_rectwarp{
	position: relative;
}*/
.mediate .hot_point{
	margin-top: 10px;
}
.ico_2{
	background: url(../img/bg_transparent.png) no-repeat;
}
.rect_warp{
	/*height: 3191px;*/
	width: 100%;
}
.hot{
	width: 9px;
	height: 12px;
	background-position: 0 -127px;
	display: inline-block;
	vertical-align: top;
}
.normal{
	width: 9px;
	height: 12px;
	background-position: 0 -215px;
	display: inline-block;
	vertical-align: top;
}
.blod{
	font-weight: bold;
}
.blod a{
	font-weight: bold;
}
.footer_tb{
	margin: 0 auto;
	width: 1190px;
}









